$background: #10112a;
$background-light: #1e1f4b;
$background-lighter: #d6d4eb;
$background-lightest: #f1fcff;

$textColor: #0f193d;

$bar-one: #d4d5eb;
$bar-two: #ebd8d4;
$bar-three: #ffecba;
$bar-four: #d4ebd4;

$primary: #b18256;
$primary-light: #fff2e7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $background-light;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 62.5%;
}

.box {
  overflow-y: scroll;
  height: calc(100% - 8.8rem);
}
.left {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $background;
  &__options {
    // margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    // padding: 3.2rem;
    &__listitems {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-self: left;
      color: $textColor;
      border-radius: 0 1.2rem 1.2rem 0;
      margin-bottom: 0.8rem;
      width: 200%;
      height: 40%;
      // gap: 0.8rem;
      background-color: $primary-light;
    }
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    &__upper {
      margin-top: 6.2rem;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      margin-bottom: 90%;
      // padding: 0 3.2rem;
      &__list {
        width: 100%;
      }
      &__listitems {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: left;
        color: $textColor;
        border-radius: 0 1.2rem 1.2rem 0;
<<<<<<< HEAD
        margin-bottom: 2rem;
        width: 100%;
        height: 5.2rem;
=======
        margin-bottom: 10%;
        width: 150%;
        height: 20%;
>>>>>>> arnav
        gap: 0.8rem;
        background-color: $primary-light;
      }
    }
  }
  &__logo {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &__img {
      width: 9rem;
      height: 8rem;
    }
    &__text {
      color: white;
      font-weight: 600;
      font-size: 2.4rem;
    }
  }
}
.main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background-light;
  &__nav {
    // z-index: 1;
    width: 100%;
    height: 8.8rem;
    background-color: $background;
    display: flex;
    flex: 1 0;
    flex-direction: row;
<<<<<<< HEAD
    justify-content: space-evenly;
    &__right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2.4rem;
      color: white;
      &__search {
        width: 23rem;
        height: 4.8rem;
      }
      &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.2rem;
        &__user {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          &__img {
            height: 4rem;
            width: 4rem;
          }
        }
      }
    }
=======
    justify-content: space-between;

>>>>>>> arnav
    &__pageName {
      display: flex;
      padding: 0 2rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;
      width: fit-content;
      height: 100%;
      &--text {
        font-size: 2.7rem;
        color: white;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
      }
      &--iconBox > svg {
        fill: white;
      }
    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
      padding: 0 3.2rem;
      &--search {
        border-radius: 0.5rem;
        height: 4rem;
        text-align: center;
      }
      &--bell {
        background-color: $primary;
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.8rem;
        & > svg {
          fill: white;
        }
      }
      &--account {
        padding: 0 1rem;
        height: 45%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        color: $textColor;
        background-color: $primary-light;
        border-radius: 0.3rem;
        &--icon {
          border-radius: 50%;
          height: 4rem;
          width: 4rem;
          background-color: white;
        }
        &--name {
          font-weight: 700;
        }
        &--mail {
          font-weight: 300;
        }
      }
    }
  }
}
