$background: #10112a;
$background-light: #1e1f4b;
$background-lighter: #d6d4eb;
$background-lightest: #f1fcff;

$textColor: #0f193d;

$bar-one: #d4d5eb;
$bar-two: #ebd8d4;
$bar-three: #ffecba;
$bar-four: #d4ebd4;

$primary: #b18256;
$primary-light: #fff2e7;

$blueOne: #0c0d21;
$blueTwo: #161738;
$white: #fff;
$brownOne: #fff2e7;
$brownTwo: #b18256;
$brownThree: #f5f5f5;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $background-light;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 108rem;
  width: 100vw;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 62.5%;
}

.box {
  overflow-y: scroll;
  height: calc(100% - 8.8rem);
}
.left {
  width: 18%;
  height: 100%;
  background-color: $blueOne;
  &__logo {
    width: 100%;
    height: 8rem;
    // background: #fff;
    display: flex;
    justify-content: flex-start;

    align-items: center;
    &__imgBox {
      width: 7rem;
      height: 7rem;
      margin-left: 1.2rem;
      &--img {
        width: 100%;
        height: 100%;
      }
    }
    &--text {
      font-size: 2rem;
      font-weight: 700;
      color: $white;
    }
  }
  &__navi {
    margin-top: 4.8rem;
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: column;
    gap: 14rem;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 100%;
      margin-top: 3.2rem;
      &__item {
        display: flex;
        flex-direction: row;
        gap: 1.2rem;
        background-color: $brownOne;
        height: 5.4rem;
        width: 90%;
        align-items: center;
        padding-left: 1.2rem;
        border-radius: 0 0.4rem 0.4rem 0;
        transition: all 0.3s ease-in-out;
        font-size: 1.4rem;
        font-weight: 500;
        cursor: pointer;
        &__iconBox {
          width: 3.2rem;
          height: 3.2rem;
          &--icon {
            width: 100%;
            height: 100%;
            color: $brownTwo;
            transition: all 0.3s ease-in-out;
          }
        }
        &:hover {
          background-color: $brownTwo;
          color: $white;

          &:hover {
            background-color: $brownTwo;
            color: $white;
            .left__navi__top__item__iconBox--icon {
              fill: $white;
            }
          }
        }
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: calc(100% - 18%);
  height: 100vh;
  background-color: $blueTwo;
  &__nav {
    width: 100%;
    height: 8rem;
    background-color: $blueOne;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.2rem;
    &__pageName {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.2rem;
      font-size: 1.6rem;
      &--text {
        color: white;
        font-size: 2rem;
        font-weight: 600;
      }
      &__iconBox {
        width: 2.4rem;
        height: 2.4rem;
        &--icon {
          width: 100%;
          height: 100%;
          fill: $white;
        }
      }
    }
    &__right {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &__search {
        display: flex;
        flex-direction: row;
        gap: 1.2rem;
        background-color: white;
        width: 24rem;
        height: 4.8rem;
        align-items: center;
        border-radius: 0.4rem;
        padding: 0.2rem 0.6rem;
        &__iconBox {
          width: 3.2rem;
          height: 3.2rem;
          &:hover {
            cursor: text;
          }
          &--icon {
            width: 100%;
            height: 100%;
            fill: $blueTwo;
          }
        }
        &__box {
          border: none;
          font-size: 1.6rem;
          &:focus-within {
            outline: none;
          }
          &:focus-visible {
            outline: none;
          }
        }
      }
      &__right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: $white;
        fill: white;
        align-items: center;
        gap: 1.6rem;
        &__bellBox {
          width: 4.8rem;
          height: 4.8rem;
          background-color: $brownTwo;
          border-radius: 0.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            cursor: pointer;
          }
          &--bell {
            width: 80%;
            height: 80%;
            fill: $white;
          }
        }
        &__account {
          display: flex;
          flex-direction: row;
          gap: 1.2rem;
          height: 4.8rem;
          width: 20rem;
          background-color: $white;
          align-items: center;
          border-radius: 0.4rem;
          background-color: $brownOne;
          &__imgBox {
            width: 3.8rem;
            height: 3.8rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin-left: 0.4rem;
            &--img {
              width: 80%;
              height: 80%;
            }
          }
          &__details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $blueOne;
            &--name {
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
