* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1e1f4b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 108rem;
  width: 100vw;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

.box {
  overflow-y: scroll;
  height: calc(100% - 8.8rem);
}

.left {
  width: 18%;
  height: 100%;
  background-color: #0c0d21;
}
.left__logo {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.left__logo__imgBox {
  width: 7rem;
  height: 7rem;
  margin-left: 1.2rem;
}
.left__logo__imgBox--img {
  width: 100%;
  height: 100%;
}
.left__logo--text {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.left__navi {
  margin-top: 4.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14rem;
}
.left__navi__item {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  margin-top: 3.2rem;
}
.left__navi__item__item {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  background-color: #fff2e7;
  height: 5.4rem;
  width: 90%;
  align-items: center;
  padding-left: 1.2rem;
  border-radius: 0 0.4rem 0.4rem 0;
  transition: all 0.3s ease-in-out;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}
.left__navi__item__item__iconBox {
  width: 3.2rem;
  height: 3.2rem;
  padding-right: 5px;
}
.left__navi__item__item__iconBox--icon {
  width: 100%;
  height: 100%;
  color: #b18256;
  transition: all 0.3s ease-in-out;
}
.left__navi__item__item:hover {
  background-color: #b18256;
  color: #fff;
}
.left__navi__item__item:hover:hover {
  background-color: #b18256;
  color: #fff;
}
.left__navi__item__item:hover:hover .left__navi__top__item__iconBox--icon {
  fill: #fff;
}

.icon-text-box {
  color: var(--final-color-blue-text, #0f193d);
  font-family: Spartan;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.45px;
  width: 112px;
  height: 15px;
  flex-shrink: 0;
  padding-left: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 82%;
  height: 100vh;
  background-color: #161738;
}
.main__nav {
  width: 100%;
  height: 8rem;
  background-color: #0c0d21;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.2rem;
  position: relative;
}
.main__nav__pageName {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.main__nav__pageName:hover {
  cursor: pointer;
}
.main__nav__pageName--text {
  color: var(--final-color-blue-text, white);
  font-family: Spartan;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.45px;
  padding-top: 19px;
}
.main__nav__pageName__iconBox {
  width: 2.4rem;
  height: 2.4rem;
}
.main__nav__pageName__iconBox--icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.main__nav__right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
------- * {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #130f40;
  font-family: "Lato" !important;
}
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/*  footer   */
footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida  Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer .fa-heart {
  color: red;
}
footer .fa-dev {
  color: #fff;
}
footer .fa-twitter-square {
  color: #1da0f1;
}
footer .fa-instagram {
  color: #f0007c;
}
fotter .fa-linkedin {
  color: #0073b1;
}
footer .fa-codepen {
  color: #fff;
}
footer a {
  color: #3c97bf;
  text-decoration: none;
  margin-right: 5px;
}
.youtubeBtn {
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
  bottom: 45px;
  cursor: pointer;
  transition: all 0.3s;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}
.youtubeBtn i {
  font-size: 20px;
  float: left;
}
.youtubeBtn a {
  color: #ff0000;
  animation: youtubeAnim 1000ms linear infinite;
  float: right;
}
.youtubeBtn a:hover {
  color: #c9110f;
  transition: all 0.3s ease-in-out;
  text-shadow: none;
}
.youtubeBtn i:active {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.youtubeBtn span {
  font-family: "Lato";
  font-weight: normal;
  color: #fff;
  display: block;
  font-size: 12px;
  float: right;
  line-height: 20px;
  padding-left: 5px;
}

@keyframes youtubeAnim {
  0%,
  100% {
    color: #c9110f;
  }
  50% {
    color: #ff0000;
  }
}
/* footer  */
------- .main__nav__right__search {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  background-color: white;
  width: 25rem;
  height: 4.8rem;
  align-items: center;
  border-radius: 0.4rem;
  padding: 25px 0.3rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main__nav__right__search__iconBox {
  width: 3rem;
  height: 3rem;
}
.main__nav__right__search__iconBox:hover {
  cursor: text;
}
.main__nav__right__search__iconBox--icon {
  width: 100%;
  height: 100%;
  fill: #161738;
}
.main__nav__right__search__box {
  border: none;
  font-size: 1.6rem;
}
.main__nav__right__search__box:focus-within {
  outline: none;
}
.main__nav__right__search__box:focus-visible {
  outline: none;
}
.main__nav__right__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #fff;
  fill: white;
  align-items: center;
  gap: 1.6rem;
}
.main__nav__right__right__bellBox {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #b18256;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__nav__right__right__bellBox:hover {
  cursor: pointer;
}
.main__nav__right__right__bellBox--bell {
  width: 80%;
  height: 80%;
  fill: #fff;
}
.main__nav__right__right__account {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  height: 4.8rem;
  width: 20rem;
  background-color: #fff;
  align-items: center;
  border-radius: 0.4rem;
  background-color: #fff2e7;
}
.main__nav__right__right__account__imgBox {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 0.4rem;
}
.main__nav__right__right__account__imgBox--img {
  width: 80%;
  height: 80%;
}
.main__nav__right__right__account__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0c0d21;
}
.main__nav__right__right__account__details--name {
  font-size: 1.2rem;
  font-weight: 600;
} /*# sourceMappingURL=general.css.map */

.drop {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
}
.hidden {
  display: none;
}
.hide {
  animation: hide 0.3s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main__nav__pageName {
  position: relative;
}
